@import "../css/components/fonts";
@import "../css/components/variables";

@import "../css/components/text";

@mixin fullcover($url){
	background-image: url($url);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

*{
	box-sizing: border-box;
}

body{
	background-color: $fauxwhite;
	overflow-y: auto;
}

/*---------------------------Nav Bar---------------------------*/
.navBar{
	position: fixed;
	width: 100%;
	padding: 1.5% 2%;
	z-index: 9999;
	top: 0px;
	right: 0px;
	opacity: 1;

	@include responsive(smallscreen){
		padding: 2% 3%;
	}

	.sm{

		display: flex;
		justify-content: flex-end;

		li{
			position: relative;
			display: inline-block;
			padding: 0% .75%;
			color: $fauxwhite;

			@include responsive(smallscreen){
				padding: 0% 1.75%;
			}

			&:first-child{
				padding-left: 0;
			}
		}

		ul li{
			padding: 2% 3.5% 2% 0%;
		}

		a{
			text-decoration: none;
		}
	}

	.sm-left{
		justify-content: flex-start !important;		
	}
}

.navName{
	width: 30vw;
	left: 0;
}

.navBarProjects{

	@include responsive(smallscreen){
		background-color: $fauxwhite;
	}
}

.navBarBlack{
	ul li a{
		color: $blackblue;
	}
}

/*---------------------------Home Page---------------------------*/
#titleSlide{
	width: 100vw;
	height: 80vh;
	background-color: $fauxwhite;
	top: 0;
	position: relative;

	@include responsive(smallscreen){
		height: 100vh;
	}
}

#welcome{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	padding-left: 15vw;
	padding-right: 40vw;
	padding-top: 30vh;

	p{
		margin-top: 2%;
		line-height: 150%;

		@include responsive(smallscreen){
			margin-top: 4%;
		}

		a{
			color: $textblack;
		}
	}

	@include responsive(largescreen){
		padding-top: 27.5vh;
	}

	@include responsive(mediumscreen){
		padding-left: 10vw;
	}

	@include responsive(smallscreen){
		padding-top: 12vh;
		padding-right: 20vh;
	}
}

#homepagePic{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;

	img{
		width: 9%;
		margin-left: 65%;
		margin-top: 50vh;

		@include responsive(xlargescreen){
			margin-top: 52.5vh;
			width: 10%;
		}

		@include responsive(largescreen){
			margin-top: 55vh;
			width: 11%;
		}

		@include responsive(mediumscreen){
			margin-top: 57.5vh;
			width: 12.5%;
		}

		@include responsive(smallscreen){
			width: 55%;
			margin-left: 30%;
			opacity: .4;
			margin-top: 32.5vh;
		}
	}
}

#arrowDiv{
	position: absolute;
	width: 100vw;
	bottom: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	z-index: 9999;

	a{
		text-align: center;

		img{
			width: 30%;
		}
	}
}
/*---------------------------About Page---------------------------*/
#about{
	width: 100vw;
	padding: 6% 40% 0% 2%;
	left: 2%;
	position: fixed;
	z-index: 4;
	background-color: $clear;
	overflow-y: auto;
	height: 100%;

	div:first-of-type{
		margin-top: 2%;
	}

	@include responsive(xlargescreen){
		left: 0%;
	}

	@include responsive(mediumscreen){
		width: 75%;
		padding: 7.5% 0% 0% 2%;
	}

	@include responsive(smallscreen){
		width: 90%;
		padding: 12.5% 0% 0% 3%;
		background-color: $clear;
	}

	p, li{
		margin: .5% 0%;
	}

	ul li{
		margin-left: 3%;
		list-style-type: square;
	}

	.aboutTextDiv{
		margin-top: 3%;
		line-height: 150%;

		a{
			color: $textblack;
		}
	}

	#socialmedia{

		margin-top: 3%;

		img{
			width: 2.5%;
			margin-right: 1.15%;

			@include responsive(largescreen){
				width: 3.5%;
				margin: .5% 2% .5% 0%;
			}

			@include responsive(mediumscreen){
				width: 4%;
				margin: 1% 2% 1% 0%;
			}

			@include responsive(smallscreen){
				width: 5%;
				margin: 1.5% 3% 1.5% 0%;
			}
		}
	}

	#resume{
		margin-top: 2%;
		margin-bottom: 10%;

		@include responsive(smallscreen){
			margin-top: 1.5%;
		}
	}
}

#fogoverlay{
	position: fixed;
	width:100vw;
	height: 100vh;
	background-color: rgba(255,255,255,.6);
	z-index: 2;
}

#dripImg{
	position: fixed;
	display: flex;
	justify-content: flex-end;
	width: 100vw;
	height: 100vh;
	background-color: $clear;

	@include responsive(smallscreen){
		opacity: .5;
	}

	img{
		position: absolute;
/*		opacity: .5;*/
		width: 40%;
		top: 0px;
		right: 0px;
	}
}

/*---------------------------Product Pages---------------------------*/
#projectsPage{
	background-color: $fauxwhite;
	position: relative;

	h2{
		padding: 7.5% 0% 0% 10%;

		@include responsive(mediumscreen){
			padding: 10% 0% 1% 6%;
		}

		@include responsive(smallscreen){
			padding: 15% 0% 1% 3%;
		}
	}
}

#projects{

	padding: 2% 10%;

	@include responsive(mediumscreen){
		padding: 3% 6%;
	}

	@include responsive(smallscreen){
		padding: 2% 3%;
	}

	h3{
		padding-bottom: 1%;
	}

	.cards{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		.pair{

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			.cardElement{

				position: relative;
				width: 46.875%;
				margin-bottom: 4%;

				@include responsive(smallscreen){
					width: 48.5%;
					margin-bottom: 6%;
				}

				p{
					margin-top: .5%;

					@include responsive(smallscreen){
						display: none;
					}

					&:last-child{
						margin: 0%;

						@include responsive(smallscreen){
							display: block !important;
						}
					}
				}

				a img, img{
					width: 100%;
				}
			}
		}

		.triplets{

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			.cardElement{

				position: relative;
				width: 29%;
				margin-bottom: 4%;

				@include responsive(smallscreen){
					width: 31.5%;
					margin-bottom: 6%;
				}

				p{
					margin-top: .5%;

					@include responsive(smallscreen){
						display: none;
					}

					&:last-child{
						margin: 0%;

						@include responsive(smallscreen){
							display: block !important;
						}
					}
				}

				a img, img{
					width: 100%;
				}
			}
		}

		.lockcard{
			display:none;
		}
	}
}
/*---------------------------Case Studies---------------------------*/

.SpotifyHeader{
	@include fullcover("../Media/Headers/SpotifyBackground.png");
}

.FiveYearsHeader{
	@include fullcover("../Media/Headers/FiveYearBackground.png");
}

.InnovateHeader{
	@include fullcover("../Media/Headers/InnovateBackground.jpg");
}

.VCWizHeader{
	@include fullcover("../Media/Headers/VCWizBackground.png");
}

.CourseraHeader{
	@include fullcover("../Media/Headers/CourseraBackground.png");
}

.DRFBrandHeader{
	@include fullcover("../Media/Headers/DRFBrandBackground.png");
}

.FounderKitHeader{
	@include fullcover("../Media/Headers/FounderKitBackground.png");
}

.GenericHeader{
	@include fullcover("../Media/Headers/GenericBackground.png");
}

.MiracleHeader{
	@include fullcover("../Media/Headers/MiracleBackground.png");
}

.AppDHeader{
	@include fullcover("../Media/Headers/AppDBackground.png");
}

/*.FDSHeader{
	@include fullcover("../Media/Headers/FDSBackground.png");
}*/

.FDSHeader{
	//background-color: rgba(40,79,74,1); //background-color: rgba(83,132,57,1);
	@include fullcover("../Media/Headers/FDSBackground2.jpg");
}

.AustriaHeader{
	background-color: rgba(202, 174, 145, 1);
}

.PisonHeader{
	background-color: rgba(10,10,10,1);
}

.projecthome{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	padding: 5% 10%;
	z-index: 0;

	@include responsive(smallscreen){
		padding: 5%;
	}
}

.projectintro{
	position: relative;

	h2, h3, h4, p{
		display: inline-block;
		width: auto;
		background-color: $blackopaque;
		line-height: 125%;
	}

	h2{
		line-height: 90%;
		padding-top: 2%;

		@include responsive(mediumscreen){
			padding-top: 3%;
			line-height: 125%;
		}
	}

	.projectname{

		width: 100%;


		h4{
			margin: 2.5% 0% 0% 0%;
		}
	}

	p{
		margin: 0% 0%;
	}

	a{
		text-decoration: none;
	}

	.divider{
		width: 50vw;
		height: .5vh;
		background-color: $blackblue;
		margin: 2.5% 0%;

		@include responsive(mediumscreen){
			width: 70vw;
		}
	}

	#projectDetails{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 2.5%;

		p{
			margin-right: 4%;
		}
	}

}

.projectBody{

	.sidebarDiv{
		position: fixed;
		top: 15vh;
		left: 7.5vw;
		z-index: 2;
		padding: 1vh .75vw 0vh .75vw;
		width: 15vw;
		display: none;
		opacity: 0;
		background-color: inherit;
		min-height: 22.5vh;

		@include responsive(largescreen){
			width: 17.5vw;
		}

		@include responsive(mediumscreen){
			width: 22.5vw;
			left: 5vw;
		}

		a{
			text-decoration: none !important;

			p{
				color: $babywolfgray;
				margin-bottom: 1%;
			}
		}

/*		#scrollIndicator{
			position: absolute;
			margin-top: 15%;
			display: flex;
			justify-content: flex-end;
			bottom: 0;
			right: 5%;
		}*/

/*		&::before{
			content: "";
			height: 100%;
			top: -1vh;
			left: -1vh;
			width: 100%;
			background: $color1;
			transition: .3s all cubic-bezier(.25, .75, .5, 1.25);
			position: absolute;
			z-index: -1;
			-webkit-filter: blur(.5px);
			filter: blur(.5px);
		}

		&::after{
			content: "";
			height: 100%;
			top: 1vh;
			left: 1vh;
			width: 100%;
			background: $color2;
			transition: .3s all cubic-bezier(.25, .75, .5, 1.25);
			position: absolute;
			z-index: -1;
			-webkit-filter: blur(.5px);
			filter: blur(.5px);
		}*/

		.activeNav{
			color: $blackblue;
		}
	}

	.extendSB{
		min-height: 27.5vh;

		@include responsive(largescreen){
			width: 20vw;
		}

		@include responsive(mediumscreen){
			width: 25vw;
			left: 5vw;
		}
	}

	.projectContent{

		background-color: $fauxwhite;
		position: relative;

		.contentSection{
			background-color: $fauxwhite;
			width: 62.5%;
			margin-left: 23vw;
			padding: 2.5% 5%;

			@include responsive(smallscreen){
				margin-left: 3%;
				width: 94%;
			}

			h4{
				margin: 4% 0% 0% 0%;

				@include responsive(mediumscreen){
					margin: 6% 0% 0% 0%;
				}

				&::first-child{
					margin: 2.5% 0% 0% 0%;
				}
			}

			p{
				margin-bottom: 2.5%;
			}

			.singleImg{
				margin: 3% 0%;
				width: 100%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}

				img, a img{
					width: 100%;
				}
			}

			.smallImg{
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 3% 0%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}

				img{
					width: 50%;

					@include responsive(largescreen){
						width: 60%;
					}

					@include responsive(mediumscreen){
						width: 80%;
					}

					@include responsive(smallscreen){
						width: 100%;
					}
				}
			}

			.twinImg{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 3% 0%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}

				img{ 
					width: 47.5%;
				}
			}

			.smallTwinImg{
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin: 3% 0%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}

				img{ 
					width: 25%;

				}
			}

			.tripleImg{
				width: 100%;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;
				margin: 3% 0%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}

				img{ 
					width: 37.5%;
				}
			}

			.video{
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 3% 0%;

				@include responsive(smallscreen){
					margin: 4% 0%;
				}
			}

			.blockquote{
				display: flex;
				justify-content: center;
				align-items: center;
			}

			ul{
				list-style-type: disc;

				li{
					margin-bottom: 1.25%;

					@include responsive(smallscreen){
						margin-bottom: 2%;
					}
				}
			}
		}
	}
}

/*---------------------------Footer---------------------------*/

.footer{
	background-color: $blackblue;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2% 0%;

	@include responsive(smallscreen){
		padding: 5% 8%;
	}

	a{
		text-decoration: none;
	}
}

.copyright{
	padding-left: 10%;
	padding-bottom: 1%;
	background-color: $fauxwhite;
	font-size: .9rem;

	@include responsive(mediumscreen){
		padding-left: 6%;
	}

	@include responsive(smallscreen){
		padding-left: 3%;
		font-size: .8rem;
	}
}

.copyright1{
	padding-left: 28%;
	padding-bottom: 1%;
	background-color: $fauxwhite;
	font-size: .9rem;

	@include responsive(mediumscreen){
		padding-left: 35%;
	}

	@include responsive(smallscreen){
		padding-left: 7.5%;
		font-size: .8rem;
	}
}

/*---------------------------Plays---------------------------*/
#plays{
	width: 100vw;
	margin: 15vh 5vw 10vh 5vw;

	@include responsive(smallscreen){
		overflow-x: hidden;
		max-width: 100vw;
	}

	.play_singular{
		width: 20vw;
		padding: 1% 0%;
		cursor: pointer;

	    @include responsive(mediumscreen){
	    	width: 35vw;
	    }

	    @include responsive(smallscreen){
	    	width: 50vw;
	    	padding: 1%;
	    }

		.imgpic{

			width: 100%;
			position: relative;

			img, video{
				position: relative;
				width: 100%;
				height: 100%;
			}

			&::after{
				content: "";
				height: 105%;
				width: 105%;
				top: -2.5%;
				left: -2.5%;
				background: $blue;
				transition: .3s all cubic-bezier(.25, .75, .5, 1.25);
				position: absolute;
				z-index: -1;
			}
		}

		.imgtext{ //fade out on hover

			position: relative;
			bottom: 70px;
			right: -140px;
			z-index: 3;
			width: auto;	

	    	@include responsive(mediumscreen){
	    		right: -100px;
	    	}		

			.imgbox{
				position: relative;
				background-color: $fauxwhite;
				padding: 4% 2% 2% 3%;

				.imgsub{
					font-size: .8rem;
					font-weight: 400;
				}
			}

			&::after{
				content: "";
				height: 100%;
				width: 100%;
				top: 1.1vh;
				left: 1.1vh;
				background: $orange;
				transition: .3s all cubic-bezier(.25, .75, .5, 1.25);
				position: absolute;
				z-index: -5;
			}
		}
	}
}

#playtext{
	position: fixed;
	width: 35vw;
	z-index: -1;
	margin: 15vh 5vw 10vh 50vw;
	top: 0px;

	@include responsive(mediumscreen){
		margin: 15vh 5vw 10vh 55vw;
	}

	@include responsive(smallscreen){
		position: relative;
		width: 100vw;
		margin: 20vh 5vw 5vh 5vw;
	}
}

/*---------------------------Modals---------------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 7.5%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: none;
    width: 70%;

	@include responsive(mediumscreen){
		width: 75%
	}

	@include responsive(smallscreen){
		width: 80%
	}
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    padding: 10px 0;
    height: 150px;
	font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	color: $fauxwhite;
	line-height: 150%;
	margin-top: .5%;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*---------------------------Blog---------------------------*/

#blog{
	padding: 17.5vh 40vw 0vh 10vw;

	@include responsive(mediumscreen){
		padding: 20vh 25vw 0vh 7.5vw;
	}

	@include responsive(smallscreen){
		padding: 20vh 7.5vw 0vh 7.5vw;
	}
}

.article{

	h2{
		@include responsive(smallscreen){
			line-height: 115%;
			padding-bottom: 1%;
		}
	}

	.subhead{
		display: flex;
		margin: 1.25% 0% 1% 0%;

		@include responsive(smallscreen){
			margin-bottom: 2%;
		}

		p{
			margin-right: 2%;
		}
	}

	p{
		margin-bottom: 2.5%;

		&:last-of-type{
			margin-bottom: 0%;
		}

		@include responsive(smallscreen){
			margin-bottom: 3.5%;
		}

	}

	ol{
		list-style-type: decimal;

		li{
			margin-bottom: 2.5%;

			@include responsive(smallscreen){
				margin-bottom: 3.5%;
			}
		}
	}

	ul{
		list-style-type: square;

		li{
			margin-bottom: 2.5%;

			@include responsive(smallscreen){
				margin-bottom: 3.5%;
			}
		}
	}
}

hr {
    display: block;
    height: .5px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    margin: 7.5% 0%;
}

#graybackground{

	display: none;
	position: fixed;
	opacity: 0;

	@include responsive(largescreen){
		background-color: $blackblue;
		width: 100vw;
		height: 100vh;
		z-index: 2;
		opacity: .7;
	}
}

#sidebarSub{
	display: none;
	opacity: 0;
	position: fixed;
	width: 20vw;
	top: 17.5vh;
	left: 70vw; 
	z-index: 3;
	-webkit-appearance: none;
	box-shadow: 0px .5px 1px $babywolfgray;
	background-color: $fauxwhite;
	padding: 0;

	@include responsive(largescreen){
		width: 50vw;
		left: 25vw;
		top: 25vh;
	}

	@include responsive(mediumscreen){
		box-shadow: none;
	}

	@include responsive(smallscreen){
		width: 80vw;
		left: 10vw;
		top: 20vh;
	}

	#subtext{
		padding: 12.5% 10% 10% 10%;

		p{
			margin: 3% 0% 3% 0%;
			font-family: HelveticaNeue-Md, Helvetica, Arial, sans-serif;
		}
	}

	.signup{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 0;

		input, button{
			width: 100%;
			font-weight: 400;
			font-size: .9rem;
			line-height: 125%;

			@include responsive(smallscreen){
				font-size: .75rem;
			}	
		}

		input{
			color: $wolfgray;
			padding-left: 1%;
			border: none;
			padding: 3% 10%;
		}

		button{
			cursor: pointer;
			background-color: #fcf113; 
			color: $textblack;
			border: none;
			line-height: 100%;
			padding: 4.5% 0% 4% 0%;
			margin: 0;
			transition: .6s;

			@include responsive(largescreen){
				padding: 3.5% 0% 3% 0%;
			}

			@include responsive(smallscreen){
				padding: 4% 0% 3.5% 0%;
			}

			&:hover{
				background-color: #000000;
				color: #FFFFFF;
			}
		}
	}
}

#bottomSub{
	display: none;
	width: 100vw;
	background-color: $fauxwhite;
	padding: 0;

	@include responsive(smallscreen){
		display: inline-block;
	}

	#subtext{
		padding: 0% 10% 10% 10%;

		p{
			margin: 3% 0% 3% 0%;
			font-family: HelveticaNeue-Md, Helvetica, Arial, sans-serif;
		}
	}

	.signup{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 0;

		input, button{
			width: 100%;
			font-weight: 400;
			font-size: .9rem;
			line-height: 125%;

			@include responsive(smallscreen){
				font-size: .75rem;
			}	
		}

		input{
			color: $wolfgray;
			padding-left: 1%;
			border: none;
			padding: 3% 10%;
		}

		button{
			cursor: pointer;
			background-color: #fcf113; 
			color: $textblack;
			border: none;
			line-height: 100%;
			padding: 4.5% 0% 4% 0%;
			margin: 0;
			transition: .6s;

			@include responsive(largescreen){
				padding: 3.5% 0% 3% 0%;
			}

			&:hover{
				background-color: #000000;
				color: #FFFFFF;
			}
		}
	}
}

#midSub{
	width: 100%;
	background-color: $fauxwhite;
	padding: 1% 0% 0% 0%;

	#subtext{

		margin-bottom: 2%;

		p{
			font-family: HelveticaNeue-Md, Helvetica, Arial, sans-serif;
		}
	}

	hr:first-of-type{
		margin-bottom: 2%;

		@include responsive(smallscreen){
			margin-bottom: 3%;
		}
	}

	hr:last-of-type{
		margin-top: 2%;
	}

	.signup{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0;
		align-items: flex-end;

		input, button{
			font-weight: 400;
			font-size: .9rem;
			line-height: 125%;

			@include responsive(smallscreen){
				font-size: .75rem;
			}	
		}

		input{
			width: 80%;
			color: $wolfgray;
			border: none;
			padding: 1% 0% 0% 0%;
		}

		button{
			width: 20%;
			cursor: pointer;
			background-color: #fcf113; 
			color: $textblack;
			border: none;
			line-height: 100%;
			transition: .6s;
			margin: 0;
			padding: 1.1% 0% 1% 0%;

			&:hover{
				background-color: #000000;
				color: #FFFFFF;
			}

			@include responsive(mediumscreen){
				padding: 1.5% .5% 1.4% .5%;
			}
		}
	}
}

/*---------------------------Project 2---------------------------*/

.projectintro2{

	position: relative;
	width: 80vw;
	height: 90vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	padding-bottom: 2.5vh;

	@include responsive(mediumscreen){
		height: 95vh;
		width: 80vw;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 0;
	}

	@include responsive(smallscreen){
		height: 95vh;
		width: 90vw;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 0;
	}


	.label{
		width: 20vw;
		display: flex;
		flex-direction: column;
		max-height: 80vh;
		overflow-y: scroll;

		@include responsive(largescreen){
			width: 30vw;
		}

		@include responsive(mediumscreen){
			width: 100%;
			max-height: 80vh;
			display: inline-block;
			overflow-y: inherit;
			margin: 2% 3%;
		}

	}

	.labelbg{
		padding: 2% 1%;
		background-color: rgba(0,0,0,.8);

		@include responsive(mediumscreen){
			padding: 5% 3%;
			margin: 0;
		}
	}

	.artefact{
		width: 60vw; //100-17-10-10
		height: 90vh;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: 50%;

			@include responsive(mediumscreen){
				width: 90%;
			}
		}

		.largeimg{
			width: 100%;
		}

		@include responsive(largescreen){
			width: 50vw;
		}

		@include responsive(mediumscreen){
			width: 90vw;
			height: auto;
			padding-bottom: 5vh;
			padding-top: 5vh;
		}
	}
}

