//Fonts

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 300;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 300;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-LtIt.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Roman.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: italic;
  src: url('../Media/Fonts/HelveticaNeueLTStd-It.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-style: italic;
  src: url('../Media/Fonts/HelveticaNeueLTStd-MdIt.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 600;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 600;
  font-style: italic;
  src: url('../Media/Fonts/HelveticaNeueLTStd-BdIt.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Blk.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-style: italic;
  src: url('../Media/Fonts/HelveticaNeueLTStd-BlkIt.otf');
}








