//Fonts

@font-face {
  font-family: 'HelveticaNeue-Lt';
  font-weight: 300;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Roman.otf');
}

@font-face {
  font-family: 'HelveticaNeue-Md';
  font-weight: 500;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face {
  font-family: 'HelveticaNeue-Bd';
  font-weight: 600;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: 'HelveticaNeue-BdCo';
  font-weight: 600;
  src: url('../Media/Fonts/HelveticaNeueCondensedBold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue-Blk';
  font-weight: 700;
  font-style: normal;
  src: url('../Media/Fonts/HelveticaNeueLTStd-Blk.otf');
}

@font-face{
  font-family: CircularStd-Book; 
  src: url('../Media/Fonts/CircularStd-Book.otf');
}








